{% extends "layout.html" %}

{% block content %}
<main>
  <h2 class="titulo_header">Nuestros Productos</h2>

  <div class="productos">
    {% for p in productos %}
    <div class="card">
      <img src="{{ url_for('static', filename='img/' + p['imagen']) }}" alt="{{ p['nombre'] }}">
      <h3>{{ p['nombre'] }}</h3>
      <p>${{ "{:,.0f}".format(p['precio']) }}</p>
      <a href="{{ url_for('agregar', id=p['id']) }}" class="btn">Añadir al carrito 🛒</a>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock %}
